/* CSS file for all pages */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

:root {
    --navbar-height: 165.2px;
    --main-bg-color: #9CAF96;
    --nav-bg-color: #222222;
    --text-color: #FFFFFF;
    --q2-main-bg-color: #F4EEE5;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  
  nav {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--nav-bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .title {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
  }
  
  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
    width: 36px;
    height: 20px;
    position: absolute;
    right: 70px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .menu-icon .line {
    width: 100%;
    height: 0;
    border: 1.5px solid var(--text-color);
  }
  
  .content {
    margin-top: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
  }
  
  .content-q2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    height: 100%;
    box-sizing: border-box;
    background-color: var(--q2-main-bg-color);
    position: relative; 
    padding-top: 15px; 
}

  .content-r {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    height: 100%;
    box-sizing: border-box;
    background-color: var(--q2-main-bg-color);
    position: relative; 
    padding-top: 15px; 
  }

.progress-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative; 
    padding: 0 20px; 
    gap: 32px;
    height: 120px; 
}
  
  .barista-icon {
    width: 80px;
    height: 80px;
  }
  
  .transition-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .transition-content-r {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .progress-circle {
    width: 24px;
    height: 24px;
    border: 2px solid #222222;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 700;
    line-height: 16.5px;
    letter-spacing: 2%;
    color: #222222;
  }
  
  .progress-circle.active {
    background-color: #FFC107;
    border: 2px solid #FFC107;
    color: #FFFFFF;
  }
  
  .progress-circle.completed {
    background-color: #222222;
    color: #FFFFFF;
  }

  .progress-circle.next {
    background-color: #FFFFFF;
    color: #222222;
  }

  .transition-content-q2 p {
    display: flex;
    flex-direction: column;
    width: 690px;
    height: 39px;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.08em;
    align-items: center;
    margin-top: 10px;
    font-family: "Roboto Condensed", sans-serif;
  }

  .transition-content-r h1 {
    width: 100%;
    font-size: 48px;
    font-weight: 400;
    line-height: 52.8px;
    letter-spacing: 0.06em;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;

  }

  .transition-content-r p {
    margin-top: auto;
    width: 100%;
    font-size: 14.5px;
    line-height: 21.75px;
    align-items: center;
    font-family: "Roboto", sans-serif;
  }

  .transition-content p {
    max-width: 588px;
    margin: 40px 0 40px;
    font-size: 28px;
    font-weight: 400;
    line-height: 36.4px;
    letter-spacing: 0.03em;
    color: var(--nav-bg-color);
  }

  .buttons-container {
    display: flex;
    gap: 56px;
    font-family: "Roboto", sans-serif;
  }
  
  .email-me, .retake-quiz {
    margin-top: 10px;
    background-color: var(--q2-main-bg-color);
    margin-bottom: auto;
    color: #222222;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.03em;
    border: none;
    cursor: pointer;
    position: relative;
  }

  .email-me::after, .retake-quiz::after{
    content: "";
    display: block; 
    background-color: #222222;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -10px; 
    left: 0px;
  }

  .best-match {
    margin-left: 140px;
    margin-right: 150px;
    margin-bottom: 30px;
    font-family: "Roboto Condensed", sans-serif;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    height: 464px;
    justify-content: center;
    align-items: center;
    background-color: #2222220D;
    margin-top: 50px;
    border: none;
  }
  
  .best-match-left {
    width: 30%;
    padding-right: 20px;
    text-align: center;
    border-right: 2.5px dotted #ccc;
  }

  .best-match-right {
    width: 70%;
    padding-left: 20px;
  }

  .best-match h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 23.4px;
    font-weight: 400;
    line-height: 28.09px;
    letter-spacing: 0.06em;
    color: #7E836D;
  }
  
  .coffee-image {
    height: auto;
    margin-bottom: 0px;
  }
  
  .best-match h3 {
    font-family: "Roboto Condensed", sans-serif;
    align-items: center;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.06em;
    font-size: 20px;
    margin-bottom: 10px;
    color: #222222;
  }
  
  .coffee-price {
    font-size: 18px;
    font-weight: 700;
  }
  
  .why-love-it {
    font-size: 12px;
    top: 512px;
    gap: 0px;
    padding-left: 10px;
    opacity: 70%;
    color: #222222;
    line-height: 16.8px;
    text-align: left;
    font-weight: 400;
    letter-spacing: 0.16em;
    padding-bottom: 20px;
  }
  
  .love-it-description {
    line-height: 24px;
    font-weight: 400;
    align-items: center;
    letter-spacing: 0.06em;
    font-size: 20px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 100px;
    margin-bottom: 20px;
  }
  
  .tasting-notes {
    width: 816px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }

  .mouth-image, .roast-image, .sipping-image, .brew-image{
    margin-top: 40px;
  }
  
  .note {
    padding: 0px 0px;
    align-items: center;
    border-top: 2.5px dotted #ccc;
    border-right: 2.5px dotted #ccc;
  }

  .note:last-child {
    border-right: none;
  }
  
  .note h4 {
    opacity: 70%;
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
    font-size: 12px;
    line-height: 16.8px;
    letter-spacing: 0.16em;
    margin-bottom: 10px;
  }
  
  .note p {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 14.5px;
    line-height: 21.75px;
    align-items: center;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    word-wrap: break-word;
  }


/* Added a button that appears after 2ms + changes color when hoovered. */
  .button {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 13px;
    line-height: 1.4;
    letter-spacing: 0.22em;
    background-color: var(--nav-bg-color);
    color: var(--text-color);
    padding: 12px 15px 10px 15px;
    margin-top: 40px;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    text-decoration: none;
  }

  .button.visible {
    margin-top: 0px;
    margin-bottom: 40px;
    opacity: 1;
    font-weight: 700;
    border-radius: 3px;
    font-size: 13px;
    letter-spacing: 22%;
    line-height: 18.2px;
  }

  .button:hover {
    background-color: white;
    color: black;
  }
  
  .curved-container {
    margin-bottom: 30px;
    position: relative;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 25px;
  }  
  
  .brew-method {
    margin-top: auto;
    margin-bottom: 150px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    width: 150px;
    height: 164px;
    transform-origin: center center;
    background-color: inherit;
  }

  .brew-method:hover {
    background-color: #FFFFFF;
  }

  .brew-method.selected {
    background-color: #FFFFFF;
  }
  
  .brew-icon {
    padding-top: 25px;
    max-width: 80px; 
    max-height: 80px; 
    min-width: 40px;
    min-height: 40px;
    width: auto; 
    height: auto; 
  }
  
  .brew-method p {
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
  }

  .coffee-maker {
    width: 150px;
    height: 164px;
    top: 450.19px;
    left: 126.94px;
    transform: rotate(-12deg) translateY(50px);
  }

  .french-press {
    width: 150px;
    height: 164px;
    top: 410.88px;
    left: 297.95px;
    transform: rotate(-8deg) translateY(20px);
  }

  .pour-over {
    width: 150px;
    height: 164px;
    top: 386.46px;
    left: 470.92px;
    transform: rotate(-4deg);
  }

  .aeropress {
    width: 150px;
    height: 164px;
    top: 376px;
    left: 645px;
    transform: translateY(-8px);
  }

  .espresso {
    width: 150px;
    height: 164px;
    top: 376px;
    left: 819.44px;
    transform: rotate(4deg);
  }

  .pods {
    width: 150px;
    height: 164px;
    top: 390px;
    left: 993.51px;
    transform: rotate(8deg) translateY(20px);
  }

  .moka-pot {
    width: 150px;
    height: 164px;
    top: 419px;
    left: 1166.28px;
    transform: rotate(12deg) translateY(50px);
  }

  .footer {
    position: relative;
    background-color: #F4EEE5;
    bottom: 10px; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  .footer .button-back {
    background-color: #F4EEE5;
    font-family: "Roboto", sans-serif;
    border: none;
    color: #222222;
    padding: 10px 24px;
    text-align: center;
    letter-spacing: 22%;
    text-decoration: none;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 3%;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    left: 50px;
    display: flex; 
    align-items: center; 
  }

  .button-back::after {
    content: "";
    display: block; 
    width: 50%;
    height: 2px;
    background-color: #222222;
    position: absolute;
    bottom: 5px; 
    left: 40px;
  }

  .back-symbol {
    font-size: 12px;
    margin-right: 7px;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    margin-left: 10px;
  }

  .footer p {
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-size: 17px;
    color: #222222;
    position: absolute;
    line-height: 27px;
    letter-spacing: 3%;
    font-weight: 400;
    right: 80px; 
    bottom: 10px;
  }

  .footer p::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #222222;
    position: absolute;
    bottom: -7px; 
    right: 0px;
  }

  .progress-bar-r {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    gap: 32px;
    height: 120px;
  }

  .progress-circle-r {
    width: 24px;
    height: 24px;
    border: 2px solid white; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 700;
    line-height: 16.5px;
    letter-spacing: 2%;
    color: white; 
  }

  .progress-circle-r.active {
    background-color: black;
    border: 2px solid black;
    color: white; 
  }

  .progress-circle-r.completed {
    background-color: black;
    color: white;
    border: 2px solid black;
  }

  .progress-circle-r.next {
    background-color: black;
    border: 2px solid black;
    color: white;
  }

/* Queries for responsiveness */
@media (max-width: 768px) {
  body, html {
    overflow-x: hidden;
    width: 100%;
  }

  nav {
    justify-content: flex-start;
  }

  .title {
    font-size: 24px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    text-align: left;
    padding-left: 40px;
  }
  
  .menu-icon {
    right: 40px;
  }

  .content {
    margin-top: 0;
    height: auto;
    padding-top: 150px;
    width: 100%;
    box-sizing: border-box;
  }

  .transition-content p {
    font-size: 20px;
    line-height: 28px;
    width: 59%;
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .transition-content-q2 p {
    width: 100%;
    font-size: 20px;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .transition-content-r p {
    font-size: 14px;
    line-height: 28px;
    width: 80%;
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .transition-content-r h1 {
    font-size: 36px;
    line-height: 33.8px;
    font-weight: 400;
    width: 90%;
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .button {
    font-size: 12px;
    padding: 15px;
    width: 100%;
  }

  .button.visible {
    opacity: 1;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 22%;
    line-height: 18.2px;
  }

  .curved-container {
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    padding: 20px 10px;
    width: 100%;
    box-sizing: border-box;
  }

  .brew-method {
    position: static;
    width: calc(50% - 10px);
    height: auto;
    margin-bottom: 10px;
    transform: none !important;
    padding: 10px;
    box-sizing: border-box;
  }

  .brew-icon {
    max-width: 48px;
    max-height: 48px;
    padding-top: 10px;
  }

  .brew-method p {
    margin-top: 10px;
    font-size: 14px;
  }

  .brew-method:last-child {
    width: calc(50% - 10px);
    margin-top: 10px;
  }

  .coffee-maker,
  .french-press,
  .pour-over,
  .aeropress,
  .espresso,
  .pods,
  .moka-pot {
    top: auto;
    left: auto;
    transform: none;
  }

  .footer {
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 60px;
  }

  .footer .button-back {
    position: absolute;
    left: 10px;
    bottom: 10px;
    margin-bottom: -3px;
  }

  .button-back::after {
    margin-bottom: 5px;
    left: 30px;
  }

  .back-symbol {
    font-family: "Roboto", sans-serif;
    margin-left: 0;
  }

  .footer p {
    font-family: "Roboto", sans-serif;
    position: absolute;
    right: 40px;
    bottom: 20px;
    margin: 0;
  }

  .footer p::after {
    margin-bottom: 5px;
    right: -3px;
  }

  .best-match {
    height: 100%;
    width: 70%;
    margin-left: 140px;
    margin-right: 150px;
    margin-bottom: 40px;
    font-family: "Roboto Condensed", sans-serif;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #2222220D;
    margin-top: 50px;
    border: none;
    flex-direction: column;
  }
  
  .best-match-left {
    width: 100%;
    text-align: center;
    border: none;
    border-bottom: 2.5px dotted #ccc;
  }

  .best-match-right {
    width: 100%;
    padding-left: 20px;
  }

  .best-match h2 {
    font-family: "Roboto Condensed", sans-serif;
    padding-left: 30px;
    font-size: 23.4px;
    font-weight: 400;
    line-height: 28.09px;
    letter-spacing: 0.06em;
    color: #7E836D;
  }
  
  .coffee-image {
    position: static;
    height: auto;
    margin-bottom: 0px;
  }
  
  .best-match h3 {
    font-family: "Roboto Condensed", sans-serif;
    align-items: center;
    padding-left: 30px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.06em;
    font-size: 20px;
    margin-bottom: 10px;
    color: #222222;
  }
  
  .coffee-price {
    padding-left: 30px;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 30px;
  }
  
  .why-love-it {
    font-size: 12px;
    top: 512px;
    gap: 0px;
    padding-left: 10px;
    opacity: 70%;
    color: #222222;
    line-height: 16.8px;
    text-align: left;
    font-weight: 400;
    letter-spacing: 0.16em;
    padding-bottom: 20px;
  }
  
  .love-it-description {
    width: 90%;
    padding-left: 15px;
    line-height: 27.6px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.01em;
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border: none;
  }
  
  .tasting-notes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .mouth-image, .roast-image, .sipping-image, .brew-image{
    width: 63.09px;
    height: 62.2px;
    margin-top: 60px;
    margin-right: 10px;
    margin-left: 30px;
    margin-bottom: 40px;
    position: absolute;
  }
  
  .note {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    border-top: 2.5px dotted #ccc;
    padding: 10px 0;
  }

  .note:last-child {
    border-right: none;
  }
  
  .note h4 {
    opacity: 70%;
    font-weight: 400;
    text-align: left;
    font-size: 12px;
    line-height: 16.8px;
    letter-spacing: 0.16em;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .note p {
    padding-left: 150px;
    align-items: center;
    text-align: left;
    margin: 0;
    font-size: 14.5px;
    line-height: 21.75px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    word-wrap: break-word;
    overflow: hidden;
    position: relative;
    padding-bottom: 70px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  body, html {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

 body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

 nav {
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
  }

 .title {
    font-size: 28px;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    text-align: left;
    padding-left: 20px;
  }

 .menu-icon {
    right: 40px;
  }

 .transition-content p {
    font-size: 24px;
    line-height: 32px;
  }

 .transition-content-q2 p {
    font-size: 26px;
    width: 100%;
    margin: 20px auto;
  }

  .transition-content-r h1 {
    font-size: 36px;
    line-height: 33.8px;
    font-weight: 400;
    width: 60%;
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .curved-container {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-bottom: 10px;
  }

 .brew-method {
    position: static;
    width: calc(25% - 50px);
    height: 164px;
    margin: 0;
    transform: none !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

 .brew-icon {
    max-width: 80px;
    max-height: 80px;
    margin-bottom: 10px;
  }

 .brew-method p {
    margin-top: 5px;
    font-size: 14px;
  }

 .button.visible {
    opacity: 1;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 22%;
    line-height: 18.2px;
    margin-bottom: 50px;
  }

 .footer {
    top: 0;
    bottom: 0;
    position: absolute;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

 .footer .button-back {
    position: absolute;
    left: 60px;
    bottom: 60px;
    margin-bottom: -3px;
  }

 .button-back::after {
    margin-bottom: 3px;
    left: 30px;
  }

 .back-symbol {
    font-family: "Roboto", sans-serif;
    margin-left: 0;
  }

 .footer p {
    font-family: "Roboto", sans-serif;
    position: absolute;
    right: 80px;
    bottom: 70px;
    margin-bottom: 2px;
  }
  
 .footer p::after {
    margin-bottom: 5px;
    right: -3px;
  }

  .content-r {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    height: 100%;
    box-sizing: border-box;
    background-color: var(--q2-main-bg-color);
    position: relative; 
    padding-top: 15px; 
  }

  .best-match {
    width: 85%;
    margin-bottom: 30px;
    font-family: "Roboto Condensed", sans-serif;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #2222220D;
    margin-top: 50px;
    border: none;
    margin-bottom: 10px;
    flex-direction: column;
    box-sizing: border-box;
  }
  
  .best-match-left {
    width: 100%;
    text-align: center;
    border: none;
    border-bottom: 2.5px dotted #ccc;
  }

  .best-match-right {
    width: 100%;
  }

  .best-match h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 23.4px;
    font-weight: 400;
    line-height: 28.09px;
    letter-spacing: 0.06em;
    color: #7E836D;
  }
  
  .coffee-image {
    height: auto;
    margin-bottom: 0px;
  }
  
  .best-match h3 {
    font-family: "Roboto Condensed", sans-serif;
    align-items: center;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.06em;
    font-size: 20px;
    margin-bottom: 10px;
    color: #222222;
  }
  
  .coffee-price {
    font-size: 18px;
    font-weight: 700;
  }
  
  .why-love-it {
    font-size: 12px;
    top: 512px;
    gap: 0px;
    padding-left: 10px;
    opacity: 70%;
    color: #222222;
    line-height: 16.8px;
    text-align: left;
    font-weight: 400;
    letter-spacing: 0.16em;
    padding-bottom: 0px;
  }
  
  .love-it-description {
    width: 50%;
    padding-left: 150px;
    line-height: 24px;
    font-weight: 400;
    align-items: center;
    letter-spacing: 0.06em;
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border: none;
  }
  
  .tasting-notes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(4, 1fr);
  }

  .mouth-image, .roast-image, .sipping-image, .brew-image{
    width: 63.09px;
    height: 62.2px;
    margin-top: 40px;
  }
  
  .note {

    flex: 1;
    align-items: center;
    border-right: 2.5px dotted #ccc;
    border-top: 2.5px dotted #ccc;
  }

  .note:last-child {
    border-right: none;
  }
  
  .note h4 {
    opacity: 70%;
    font-weight: 400;
    text-align: left;
    font-size: 12px;
    line-height: 16.8px;
    letter-spacing: 0.16em;
    margin-bottom: 10px;
  }
  
  .note p {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14.5px;
    line-height: 21.75px;
    align-items: center;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    word-wrap: break-word;
  }
  .footer {
    height: 10px;
    position: inherit;
  }
}